/* Untuk perangkat dengan lebar layar kurang dari 576px (misalnya, ponsel) */
@media (max-width: 575.98px) {
  /* Aturan CSS untuk perangkat ponsel di sini */
  header {
    background-color: #f1f3ff;
    flex-shrink: 0;
    grid-column: auto;
  }
  .grid-h-col2 {
    order: 1;
    margin-top: 24px;
    /* margin-right: 10px; */
  }

  .sewa-rental {
    align-self: stretch;
    color: #000;
    font-family: Helvetica;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 54px */
  }

  .desk {
    align-self: stretch;
    color: #000;

    /* Body/14/Light */
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
  }

  .best-rental {
    margin-top: 57px;
  }
}

/* Untuk perangkat dengan lebar layar antara 576px hingga 767px (misalnya, ponsel besar atau tablet kecil dalam orientasi potrait) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Aturan CSS untuk perangkat ponsel besar atau tablet kecil di sini */
}

/* Untuk perangkat dengan lebar layar antara 768px hingga 991px (misalnya, tablet dalam orientasi lanskap) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Aturan CSS untuk tablet dalam orientasi lanskap di sini */
}

/* Untuk perangkat dengan lebar layar antara 992px hingga 1199px (misalnya, tablet dalam orientasi potrait atau laptop) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Aturan CSS untuk tablet dalam orientasi potrait atau laptop di sini */
}

/* Untuk perangkat dengan lebar layar 1200px atau lebih (misalnya, layar desktop) */
@media (min-width: 1200px) {
  /* Aturan CSS untuk layar desktop di sini */
  body {
    background-color: blue;
  }
}
